<div class="col-sm-12 col-lg-4 mb-3">
  <div id="dog-id-<%= dog.id %>">
    <div class="card">
      <%= image_tag 'dog_placeholder.png', class: 'card-img-top', size: '100x300' %>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">
            <%= dog.breed %>
          </a>
        </h4>
        <div class='mr10 float-right'>
          <a href="#"><%= icon 'fas', 'trash', class: 'pr-1' %></a>
          <a href="#"><%= icon 'fa', 'pen' %></a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l dog.created_at, format: :long %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
