<main class="container">

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="10"/>
    <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
  </symbol>
  <symbol id="cart" viewBox="0 0 16 16">
    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
  <symbol id="chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
  </symbol>
</svg>


  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">
          <%= "おすすめ度：" %>
          <% recommend_dog.temp_count.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          </strong>
          <h3 class="mb-0"><%= recommend_dog.breed %></h3>
          <div class="mb-1 text-body-secondary"><%= recommend_dog.dog_size_type.name %></div>
          <h5 class="card-text mb-auto"><%= recommend_dog.catchphrase %></h5>
          <%= link_to(dog_path(recommend_dog.id), class: "icon-link gap-1 icon-link-hover stretched-link") do %>
            <%= "#{recommend_dog.breed}の詳細はこちら" %>
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          <% end %>
        </div>
        <div class="col-auto d-none d-lg-block">
          <%= image_tag recommend_dog.dog_image.url, class: 'bd-placeholder-img', size: '200x200' %>
        </div>
      </div>
    </div>
  </div>
</main>