<%# ------------------------------------------------------------------------------------------------------------------ %>
<!-- 導入部分-->
<div class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center">
                    <h2 class="display-1 lh-1 mb-3">あなたの理想の相棒が見つかる！</h2>
                    <h1 class="display-1 lh-1 mb-3">犬種マッチ診断</h1>
                    <p class="lead fw-normal text-muted mb-5">わんちゃんを飼うのは初めてでどんな犬種がいるのかわからない？<br>あなたのライフスタイルにマッチするわんちゃんが、たった1分の診断で明らかに！</p>
                    <%= link_to "今すぐ無料診断", diagnoses_new_path, class: "btn-outline-light py-3 px-5 rounded-pill" %>
                </div>
            </div>
        </div>
    </div>
</div>

<%# ------------------------------------------------------------------------------------------------------------------ %>
<%# tail talesの紹介４窓のブロック %>
<div class="feature-highlights">
  <div class="album py-5 ">
    <div class="container">
      <h2 class="card-title-group text-center">Tail Talesの<span>4</span>つの特徴</h2>
      <div class="row row-cols-1 row-cols-md-3 g-3">
        <%# 1ブロック目 %>
        <div class="col-md-6 col-12"> <!-- col-md-6 と col-12 を追加 -->
          <div class="card shadow-sm text-center">
            <h2 class="card-title">01</h2>
            <h3 class="card-title">自分に合う犬種を発見する</h3>
            <%= image_tag 'top_explain_block_01.jpg', class: "bd-placeholder-img card-img-top", width: "100%", height: "400"%>
            <div class="card-body">
              <p class="card-text">たった1分の犬種診断で自分のライフスタイルに合う犬種を発見！<br>今まで知らなかった新しい犬種に出会えるかも・・・！</p>
            </div>
          </div>
        </div>
        <%# 2ブロック目 %>
        <div class="col-md-6 col-12"> <!-- col-md-6 と col-12 を追加 -->
          <div class="card shadow-sm text-center">
            <h2 class="card-title">02</h2>
            <h3 class="card-title">犬種について詳しく知る</h3>
            <%= image_tag 'top_explain_block_02.jpg', class: "bd-placeholder-img card-img-top", width: "100%", height: "400"%>
            <div class="card-body">
              <p class="card-text">見た目や性格の特徴、歴史やどんな人に向いているのかについて<br>気になる犬種について詳しく知ることができます</p>
            </div>
          </div>
        </div>
        <%# 3ブロック目 %>
        <div class="col-md-6 col-12"> <!-- col-md-6 と col-12 を追加 -->
          <div class="card shadow-sm text-center">
            <h2 class="card-title">03</h2>
            <h3 class="card-title">飼っている人の投稿を見る</h3>
            <%= image_tag 'top_explain_block_03.jpg', class: "bd-placeholder-img card-img-top", width: "100%", height: "400"%>
            <div class="card-body">
              <p class="card-text">一般的な情報に加えて実際に飼っているユーザーの投稿からも<br>どんなわんちゃんなのかを知ることができます。</p>
            </div>
          </div>
        </div>
        <%# 4ブロック目 %>
        <div class="col-md-6 col-12"> <!-- col-md-6 と col-12 を追加 -->
          <div class="card shadow-sm text-center">
            <h2 class="card-title">04</h2>
            <h3 class="card-title">わんちゃんを飼い始めたら投稿する</h3>
            <%= image_tag 'top_explain_block_04.jpg', class: "bd-placeholder-img card-img-top", width: "100%", height: "400"%>
            <div class="card-body">
              <p class="card-text">我が子の可愛い姿を投稿して犬種の魅力を共有しませんか？<br>飼おうか迷っている人に魅力を伝えて新規オーナーを増やしましょう！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# ------------------------------------------------------------------------------------------------------------------ %>
<!-- 診察への提案文-->
<aside class="text-center bg-gradient-primary-to-secondary">
    <div class="px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-white mb-4">1分の犬種診断で<br>あなたにぴったりの相棒を探しませんか？</div>
                <%= link_to "今すぐ無料診断", diagnoses_new_path, class: "btn-outline-light py-3 px-5 rounded-pill" %>
            </div>
        </div>
    </div>
</aside>

<%# ------------------------------------------------------------------------------------------------------------------ %>
<%# こんなお悩みをお持ちの方へ %>
<div class="onayami">
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-5 order-md-1">
        <%= image_tag("worried_woman.jpg", class: "featurette-image img-fluid mx-auto", width: 500, height: 500, alt: "Worried Woman") %>
      </div>
      <div class="col-md-7 order-md-2">
        <%# アイコンと文章のセット1 %>
        <div class="d-flex align-items-center">
          <i class="fa-regular fa-square-check me-3" style="font-size: 2em;"></i>
          <div>
            <h2 class="featurette-heading fw-normal lh-1 mb-0">どんな犬種がいるのかわからない</h2>
          </div>
        </div>
        <%# アイコンと文章のセット2 %>
        <div class="d-flex align-items-center">
          <i class="fa-regular fa-square-check me-3" style="font-size: 2em;"></i>
          <div>
            <h2 class="featurette-heading fw-normal lh-1 mb-0">小さい子供がいて一緒に遊ばせたい</h2>
          </div>
        </div>
        <%# アイコンと文章のセット3 %>
        <div class="d-flex align-items-center">
          <i class="fa-regular fa-square-check me-3" style="font-size: 2em;"></i>
          <div>
            <h2 class="featurette-heading fw-normal lh-1 mb-0">アレルギーがあるけど大丈夫かな</h2>
          </div>
        </div>
        <%# アイコンと文章のセット4 %>
        <div class="d-flex align-items-center">
          <i class="fa-regular fa-square-check me-3" style="font-size: 2em;"></i>
          <div>
            <h2 class="featurette-heading fw-normal lh-1 mb-0">わんちゃんを飼うのは初めてで不安</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-h1-container text-center mt-4 mb-4">
      <div>
        <h1 class="mb-2">このような悩みをお持ちの方</h1>
        <h1 class="mb-2-second">Tail Talesを<span class="text-danger">おすすめ</span>します</h1>
      </div>
    </div>
  </div>
</main>

    <!-- 診察への提案文-->
    <aside class="text-center bg-gradient-primary-to-secondary">
        <div class="px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xl-8">
                    <div class="h2 fs-1 text-white mb-4">1分の犬種診断で<br>あなたにぴったりの相棒を探しませんか？</div>
                    <%= link_to "今すぐ無料診断", diagnoses_new_path, class: "btn-outline-light py-3 px-5 rounded-pill" %>
                </div>
            </div>
        </div>
    </aside>
</div>

