<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-12">
      <!-- 投稿作成誘導ボタン -->
      <div class="d-grid gap-2 mb-2">
        <%= link_to t('boards.new.post'), new_board_path, class: "btn btn-outline-primary", role: "button" %>
      </div>
      <!-- 検索フォーム -->
      <%= content_tag(:div, class: 'mb-1') do %>
        <%= content_tag(:i, nil, class: 'fas fa-search', style: 'margin-right: 5px;') %> 投稿検索
      <% end %>
      <%= render 'search_form', url: bookmarks_boards_path %>
    </div>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @bookmark_boards.present? %>
          <%= render @bookmark_boards %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
